.property-sort-wrapper {
    position: relative;
    width: 190px;
}

.property-sort {
    width: 100%;
    height: 48px;
    padding: 0 40px 0 20px;

    border: 1px solid #d8dce5;
    border-radius: 999px;
    background: white;
    font: inherit;
    cursor: pointer;

    appearance: none;
}

.property-sort__arrow {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 11px;
    font-weight: 400;

    pointer-events: none;
}
